
body{
    background-color: #cce386;
    font-family: 'VT323', monospace;
    text-align: center;
}

.contaner-top{
    width: 100%;
    height: 300px;
    padding-top: 20px;
    background-color: #72913f;
    padding-bottom: 12px;
    border-radius: 16px 16px 0 0;
    position: relative;
}

/*Aquí va el estilo de los contenedores bajos*/
.med_contenedor{
    margin-top: 100px;
}

.cic{
    width: 50px;
}

.nube-alta{
    width: 140px;
    padding: 8px;
    position: absolute;
    top: 10px;
    right: 20%;
    z-index:3;
}

.nube-baja{
    width: 100px;
    padding: 8px;
    position: absolute;
    top: 50px;
    left: 25%;
    z-index:4;
}

.nube-c{
    width: 120px;
    padding: 8px;
    position: absolute;
    top: 140px;
    left: 30%;
}

.nube-d{
    width: 120px;
    padding: 8px;
    position: absolute;
    top: 120px;
    right: 30%;
}

.nombre,.prog{
    margin: 0;
    z-index:6;
}

.nombre{
    font-size: 56px;
    color: #423b2a;
    margin-bottom: 0;
}

.prog{
    font-size: 2.5rem;
    color: #29251b;
    margin-top: 0;
}

.gandalf{
    width: 120px;
    padding: 16px;
}

h3,a{
    color: #344a38;
}

h1{
    line-height: 2;
}

h2{
    font-weight: normal;
    color: #29251b;
    padding-bottom: 12px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.cloud-img{
    width: 25%;
    float: left;
    margin-right: 28px;
}

.social-img{
    width: 25%;
    float: right;
    margin-left: 28px;
}

.erick{
    width: 120px;
    border-radius: 80%;
    margin-top: 16px;
    border: 4px solid #423b2a;
}

p{
    color: #40514e;
    line-height: 2;
}


.perfil p{
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
}

hr{
    border: 8px dotted;
    border-bottom: none;
    width: 5%;
    margin: 52px auto;
}

.conta-parrafo{
    width: 40%;
    margin: 40px auto 60px auto;

}

.bajo_contenedor{
    background-color: #72913f;
    width: 100%;
    margin: 0 auto;
    font-style: bold;  
    border-radius: 0 0 16px 16px;
    padding-top: 24px;
}

.bajo_contenedor a{
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    padding: 12px;
}

.btn {
    margin: 8px;
    width: 200px;
    height: 52px;
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #f5af65);
    background-image: -moz-linear-gradient(top, #000000, #f5af65);
    background-image: -ms-linear-gradient(top, #000000, #f5af65);
    background-image: -o-linear-gradient(top, #000000, #f5af65);
    background-image: linear-gradient(to bottom, #000000, #f5af65);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 16px;
    text-shadow: 1px 1px 3px #29251b;
    font-family: 'VT323', monospace;
    color: #f0eee8;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
  background: #72913f;
  background-image: -webkit-linear-gradient(top, #72913f, #29251b);
  background-image: -moz-linear-gradient(top, #72913f, #29251b);
  background-image: -ms-linear-gradient(top, #72913f, #29251b);
  background-image: -o-linear-gradient(top, #72913f, #29251b);
  background-image: linear-gradient(to bottom, #72913f, #29251b);
  text-decoration: none;
}